In [ ]:
#holding for attempts

In [74]:
# Dependencies and Setup
import pandas as pd
import os

# File to Load (Remember to Change These)
file_to_load = os.path.join("Resources/purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [ ]:
purchase_data.columns

In [ ]:
# THE CREATION OF A DF WITH NO DUPLICATE SN
player_demographic = purchase_data.loc[:, ["Gender", "SN", "Age"]].drop_duplicates()

In [ ]:
# Player Count Original
player_count = len(purchase_data["SN"].unique())

total_players = pd.DataFrame({"Total Players": [player_count]})
total_players.head()

In [ ]:
# Player Count Using New player_demopgraphics df
unique_player_count = player_demographic["SN"].count()
unique_player_count
unique_total_players = pd.DataFrame({"Total Players": [unique_player_count]})
unique_total_players.head()

In [ ]:
# Gender Demographics

In [ ]:
purchase_data["Gender"].value_counts()

In [ ]:
#gender_count = (purchase_data["Gender"].value_counts("Male"))*100
#gender_count_df = pd.DataFrame({})
gender_count = len(purchase_data["Gender"])
male_count = len(purchase_data[purchase_data.Gender == "Male"])
male_percentage = round((male_count / gender_count) * 100, 2)

female_count = len(purchase_data[purchase_data.Gender == "Female"])
female_percentage = round((female_count / gender_count) * 100, 2)

other_nd_count = len(purchase_data[(purchase_data.Gender != "Male")
                                  & (purchase_data.Gender != "Female")])
other_nd_percentage = round((other_nd_count / gender_count) * 100, 2)


male_summary_df = pd.DataFrame({"Total Count": [male_count], "Percentage of Players": [male_percentage]})
female_summary_df = pd.DataFrame({"Total Count": [female_count], "Percentage of Players": [female_percentage]})
other_nd_summary_df = pd.DataFrame({"Total Count": [other_nd_count], "Percentage of Players":[other_nd_percentage]})

male_summary_df

In [ ]:
grouped_gender_df = purchase_data.groupby(["Gender"])
#print(grouped_gender_df)
grouped_gender_df.count().head()

In [ ]:
gender_count = purchase_data["Gender"].value_counts()
#male_count = len(purchase_data[purchase_data.Gender == "Male"])
#gender_percentage = purchase_data["Gender"].value_counts().mul(100).round(2).astype(str) + '%'
#gender_df = pd.DataFrame({"Total Counts": [gender_count], 
                          #"Percentage of PLayers": [gender_percentage]})
gender_count
gender_percentage = (gender_count / len(purchase_data["Gender"])).mul(100).round(2)
print(gender_count)
print(gender_percentage)
gender_df = pd.DataFrame({"Total Counts": [gender_count], 
                          "Percentage of PLayers": [gender_percentage]})
grouped_gender_df = gender_df.groupby(["Gender"])
grouped_gender_df.head()
gender_group = purchase_data.groupby(["Gender"])
gender_group.count().head({"Total Counts": [gender_count], 
                          "Percentage of PLayers": [gender_percentage]})

In [ ]:
player_count = len(purchase_data["SN"].unique())
player_count

In [ ]:
# Working, but not unique players
gender_count_series = purchase_data["Gender"].value_counts()
gender_percentage = (gender_count_series / len(purchase_data["Gender"])).mul(100).round(2).astype(str) + "%"
gender_df = pd.DataFrame({"Total Count": gender_count_series, 
                         "Percentage of Players": gender_percentage})
gender_df
#gender_percentage

In [ ]:



purchase_data.groupby('SN').first()['Gender'].value_counts(normalize=True)*100

In [ ]:
len(purchase_data.groupby('SN'))

In [ ]:
# ANother try that was not working
grouped_unique_df = purchase_data.groupby(["SN"])
#print(grouped_gender_df)
grouped_unique_df.head()
gender_count = grouped_unique_df["Gender"].value_counts()
gender_percentage = (gender_count / len(grouped_unique_df["Gender"])).mul(100).round(2).astype(str) + "%"
gender_df = pd.DataFrame({"Total Count": gender_count, 
                         "Percentage of Players": gender_percentage})
gender_df
#gender_percentage
#grouped_gender_df = grouped_unique_df.groupby(["Gender"])
#grouped_gender_df.head()
#grouped_unique_df.head()


#new_gen = pd.DataFrame(purchase_data[['SN', 'Gender']])
#unique = new_gen.groupby(["Gender"]).unique()
#unique.head()

unique = purchase_data.groupby("Gender")["SN"].unique().value_counts()
#unique_df = purchase_data.loc[purchase_data["SN"] == [unique], :]
unique.head()

In [134]:
# FINAL WORKING CODE
# Group data by gender
grouped_gender_df = purchase_data.groupby(["Gender"])

# Calculate the purchase count
gender_purchase_count = grouped_gender_df["Purchase ID"].count()

# Calculate the average purchase price
gender_avg_price = grouped_gender_df["Price"].mean()

# Calculate the total purchase value by dender
gender_purchase_total = grouped_gender_df["Price"].sum()

# Calculate the average purchase total per person
gender_average_total = (gender_purchase_total / gender_count)

# Purchasing by gender summary data frame with formatting
gender_purchase_df = pd.DataFrame({"Purchase Count": gender_purchase_count,
                                  "Average Purchase Price": (gender_avg_price).map("${:,.2f}".format),
                                  "Total Purchase Value": (gender_purchase_total).map("${:,.2f}".format),
                                  "Avg Total Purchase per Person": (gender_average_total).map("${:,.2f}".format)})

gender_purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [55]:
# Creating bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]

bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]



age_df["Age Cat"] = pd.cut(purchase_data["Age"], bins, labels=bin_names)

#grouped_names_df = age_df.groupby(["SN"])



#print(age_df)
#age_df.count()
grouped_names_df.count()

KeyError: 'SN'

In [75]:
# Creating bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]

bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Category"] = pd.cut(purchase_data["Age"], bins, labels=bin_names, include_lowest=False)
purchase_data
#unique_df = purchase_data.loc[(purchase_data["SN"])].unique()
age_unique = purchase_data.groupby("SN").first()["Age Category"].value_counts()
#age_unique_sorted = age_unique.sort_values("Age Categories")
#age_group = age_unique.groupby("Age Category").value_counts()

#age_group_count = age_group["Age Category"].count()
#purchase_data
#print(age_group["Age Cat"].count())
#age_group
#print(age_unique.head())

#age_unique["Age Category"].value_counts()
age_unique.count()

8

In [29]:
purchase_data.sort_values?

Signature:
purchase_data.sort_values(
    by,
    axis=0,
    ascending=True,
    inplace=False,
    kind='quicksort',
    na_position='last',
    ignore_index=False,
)
Docstring:
Sort by the values along either axis.

Parameters
----------
        by : str or list of str
            Name or list of names to sort by.

            - if `axis` is 0 or `'index'` then `by` may contain index
              levels and/or column labels.
            - if `axis` is 1 or `'columns'` then `by` may contain column
              levels and/or index labels.

            .. versionchanged:: 0.23.0

               Allow specifying index or column level names.
axis : {0 or 'index', 1 or 'columns'}, default 0
     Axis to be sorted.
ascending : bool or list of bool, default True
     Sort ascending vs. descending. Specify list for multiple sort
     orders.  If this is a list of bools, must match the length of
     the by.
inplace : bool, default False
     If True, perform operation in-place.
kind : {'quicksort', 'mergesort', 'heapsort'}, default 'quicksort'
     Choice of sorting algorithm. See also ndarray.np.sort for more
     information.  `mergesort` is the only stable algorithm. For
     DataFrames, this option is only applied when sorting on a single
     column or label.
na_position : {'first', 'last'}, default 'last'
     Puts NaNs at the beginning if `first`; `last` puts NaNs at the
     end.
ignore_index : bool, default False
     If True, the resulting axis will be labeled 0, 1, …, n - 1.

     .. versionadded:: 1.0.0

Returns
-------
sorted_obj : DataFrame or None
    DataFrame with sorted values if inplace=False, None otherwise.

Examples
--------
>>> df = pd.DataFrame({
...     'col1': ['A', 'A', 'B', np.nan, 'D', 'C'],
...     'col2': [2, 1, 9, 8, 7, 4],
...     'col3': [0, 1, 9, 4, 2, 3],
... })
>>> df
    col1 col2 col3
0   A    2    0
1   A    1    1
2   B    9    9
3   NaN  8    4
4   D    7    2
5   C    4    3

Sort by col1

>>> df.sort_values(by=['col1'])
    col1 col2 col3
0   A    2    0
1   A    1    1
2   B    9    9
5   C    4    3
4   D    7    2
3   NaN  8    4

Sort by multiple columns

>>> df.sort_values(by=['col1', 'col2'])
    col1 col2 col3
1   A    1    1
0   A    2    0
2   B    9    9
5   C    4    3
4   D    7    2
3   NaN  8    4

Sort Descending

>>> df.sort_values(by='col1', ascending=False)
    col1 col2 col3
4   D    7    2
5   C    4    3
2   B    9    9
0   A    2    0
1   A    1    1
3   NaN  8    4

Putting NAs first

>>> df.sort_values(by='col1', ascending=False, na_position='first')
    col1 col2 col3
3   NaN  8    4
4   D    7    2
5   C    4    3
2   B    9    9
0   A    2    0
1   A    1    1
File:      ~/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/pandas/core/frame.py
Type:      method

In [76]:
player_count = len(purchase_data["SN"].unique())
total_players = pd.DataFrame({"Total Players": [player_count]})
total_players.head()

   Total Players
0            576

In [77]:
# Calculate the gender count base off of unique SN while 
gender_count = purchase_data.groupby('SN').first()['Gender'].value_counts()

# Calculate the gender percentage using previously created unique variable
# player_count and format the result
gender_percentage = (gender_count / player_count).mul(100).round(2).astype(str) + "%"

# Creating a gender data frame from calculations above
gender_df = pd.DataFrame({"Total Count": gender_count, 
                         "Percentage of Players": gender_percentage})
gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [78]:
# Group data by gender
grouped_gender_df = purchase_data.groupby(["Gender"])

# Calculate the purchase count
gender_purchase_count = grouped_gender_df["Purchase ID"].count()

# Calculate the average purchase price
gender_avg_price = grouped_gender_df["Price"].mean()

# Calculate the total purchase value by dender
gender_purchase_total = grouped_gender_df["Price"].sum()

# Calculate the average purchase total per person
gender_average_total = (gender_purchase_total / gender_count)

# Purchasing by gender summary data frame with formatting
gender_purchase_df = pd.DataFrame({"Purchase Count": gender_purchase_count,
                                  "Average Purchase Price": (gender_avg_price).map("${:,.2f}".format),
                                  "Total Purchase Value": (gender_purchase_total).map("${:,.2f}".format),
                                  "Avg Total Purchase per Person": (gender_average_total).map("${:,.2f}".format)})

gender_purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [133]:
#Cut before grouping SN which equates to incorrect values
# Making copy of data frame
purchase_data_copy = purchase_data.copy()

# Creating bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]

#Bin Labels
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]


purchase_data_copy["Age Ranges"] = pd.cut(purchase_data_copy["Age"], bins, labels=bin_names)
grouped_age_df = purchase_data_copy.groupby(["Age Ranges"])
purchase_data_copy
#age_purchase_avg = purchase_data_copy["Price"].mean()
grouped_age_df.count().head(30)
#age_purchase_avg

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Category
Age Ranges,,,,,,,,
<10,23,23,23,23,23,23,23,23
10-14,28,28,28,28,28,28,28,28
15-19,136,136,136,136,136,136,136,136
20-24,365,365,365,365,365,365,365,365
25-29,101,101,101,101,101,101,101,101
30-34,73,73,73,73,73,73,73,73
35-39,41,41,41,41,41,41,41,41
40+,13,13,13,13,13,13,13,13

In [122]:
# Grouping SN for removing duplicated
# Making copy of data frame
purchase_data_copy_two = purchase_data.copy()

# Creating bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]

#Bin Labels
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]


purchase_data_copy_two["Age Ranges"] = pd.cut(purchase_data_copy_two["Age"], bins, labels=bin_names)
grouped_sn_df = purchase_data_copy.groupby(["SN"])
grouped_age_df = purchase_data_copy_two.groupby(["Age Ranges"])
grouped_sn_age_df = purchase_data_copy_two.groupby(["SN", "Age Ranges"])

# Should you drop na values removing the extra
#cleaned_grouped_df = grouped_sn_age_df.dropna(how="any")

purchase_data_copy_two
grouped_sn_df.count().head(30)
grouped_age_df.count().head(30)
grouped_sn_age_df.count().head(30)
#cleaned_grouped_df.count().head(30)

age_purchase_count = grouped_sn_age_df["Purchase ID"].sum()
age_purchase_count.head()

SN            Age Ranges
Adairialis76  <10             NaN
              10-14           NaN
              15-19         467.0
              20-24           NaN
              25-29           NaN
Name: Purchase ID, dtype: float64

In [129]:
popular_df = purchase_data[['Item ID', "Item Name", "Price"]]
popular_df = popular_df.groupby(["Item ID", "Item Name"])
#popular_df = popular_df.rename(columns={"Price": "Item Price"})
popular_purchase_count = popular_df["Item ID"].count()
popular_item_price = popular_df["Price"].value_counts()
#popular_total_purchase = popular_purchase_count * popular_item_price

#popular_sum_df = pd.DataFrame({"Item ID": ["Item ID"], "Item Name"})
popular_df.head()
print(popular_purchase_count)

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         4
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Item ID, Length: 179, dtype: int64

In [130]:
popular_df = purchase_data[]
popular_df.sum()

                                                      Price
Item ID Item Name
0       Splinter                                       5.12
1       Crucifer                                      11.77
2       Verdict                                       14.88
3       Phantomlight                                  14.94
4       Bloodlord's Fetish                             8.50
...                                                     ...
178     Oathbreaker, Last Hope of the Breaking Storm  50.76
179     Wolf, Promise of the Moonwalker               26.88
181     Reaper's Toll                                  8.30
182     Toothpick                                     12.09
183     Dragon's Greatsword                            3.27

[179 rows x 1 columns]